extends layout

block link
  -var selected = 'Active Exercise';

block css
  link(rel="stylesheet", href="/css/lib/jquery-ui.min.css")

block js
  if exercise != null
    script.
      var HALL_INITIAL = !{hall};
      var LAST_LEVEL = "#{exercise.last_level}";
      var INACTIVITY_TIME = #{inactivity_time};
    script(src="/js/lib/jquery-ui.min.js")
    script(src="/js/socket.js")
    script(src="/js/utils.js")
    script(src="/js/alternative.js")
    script(src="/js/post.js")
    script(src="/js/evaluate.js")
    script(src="/js/student.js")
    script(src="/js/position.js")
    script(src="/js/student_detail.js")

    // exercise initialization
    script(src="/js/active_exercise.js")

    // drag n drop - needs Exercise to be initialized
    script(src="/js/dnd.js")

block content
  if exercise == null
    div(class="narrow-content")
      h1 No active exercise at the moment
  else
    div(class="active-exercise-container")
      div(id="active-exercise-header")
        h5 Exercise #{exercise.name} - id #{exercise.id} - last level #{exercise.last_level} - students finished/all&nbsp;&nbsp;
          span(id="active-exercise-students-finished") 0
          span /
          span(id="active-exercise-students-all") 0
          span(class="active-exercise-buttons")
            button(class="btn btn-outline-info", id="btn-create-room", data-toggle="modal", data-target="#new-room-modal") Create room
            button(class="btn btn-outline-info", id="btn-rename-room", data-toggle="modal", data-target="#rename-room-modal") Rename room
            button(class="btn btn-outline-info", id="btn-toggle-userboxes") Toggle
            button(class="btn btn-primary", id="btn-save-positions") Save positions
      div(id="active-exercise-students")
      div(id="tabs")
        ul

      include snippets/student_modal.pug
      include snippets/new_room_modal.pug
      include snippets/rename_room_modal.pug
