extends layout

block link
  -var selected = 'Evaluate Exercise';

block js
  if exercise != null
    script.
      var POSTS = !{posts};
      var EVALS = !{evals};
    script(src="/js/socket.js")
    script(src="/js/utils.js")
    script(src="/js/post.js")
    script(src="/js/evaluate.js")
    script(src="/js/student.js")
    script(src="/js/student_detail.js")

    script(src="/js/evaluate_exercise.js")

block content
  div(class="narrow-content")
    h1 #{header}
    h5 Exercise #{exercise.name} - id #{exercise.id}
    table(class="table table-hover evaluate-exercise-table")
      thead(class="thead-dark")
        tr
          th Username
          th Hostname
          th IP
          th Last level
          th Time spent
          th Score
      tbody
    include snippets/student_modal.pug
