doctype html
html
  block link
    -var selected = 'Home'; // default

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title GTA-Monitor

    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")

    link(rel="stylesheet", href="/css/lib/bootstrap.min.css")
    block css

    link(rel="stylesheet", href="/css/style.css")

  -var menu = {'Home': '/', 'Active Exercise': '/exercise/active', 'Create Exercise': '/exercise/create', };

  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      a(class="navbar-brand", href="/") GTA-Monitor
      button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent",
             aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")

      div(class="collapse navbar-collapse", id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
          if logged_user
            each value, key in menu
              if selected === key
                li(class="nav-item active")
                  a(class="nav-link", href=value)= key
              else
                li(class="nav-item")
                  a(class="nav-link", href=value)= key

            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Edit exercise
              div(class="dropdown-menu", aria-labelledby="navbarDropdown")
                each ex in navbar_exercises
                  a(class="dropdown-item" href="/exercise/edit/" + ex.id) #{ex.name}

            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Past exercises
              div(class="dropdown-menu", aria-labelledby="navbarDropdown")
                a(class="dropdown-item" href="#") X
                a(class="dropdown-item" href="#") Y

        ul(class="navbar-nav navbar-right")
          if logged_user
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Signed in as #{logged_user.username}
              div(class="dropdown-menu", aria-labelledby="navbarDropdown")
                a(class="dropdown-item" href="/auth/signup") Create user
                div(class="dropdown-divider")
                a(class="dropdown-item" href="/auth/logout") Logout
          else
            li(class="nav-item")
              a(class="nav-link", href="/auth/login") Login

    while message = flash.shift()
      div(class="flash-message narrow-content alert alert-" + message.type)= message.message

    block content

    script(src="/js/lib/jquery-3.2.1.min.js")
    script(src="/js/lib/popper.min.js")
    script(src="/js/lib/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")

    block js

    block script
